<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Blog do Node</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categorias">Categorias</a>
      </li>
      {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/logout">Sair</a>
        </li>
        
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/registro">Registro</a>
        </li>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>