<h4>Login:  </h4>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="post">
            <label for="email">Email: </label>
                <input type="email" name="email" class="form-control" required>                
            <label for="senha">Senha: </label>
                <input type="password" name="senha" class="form-control" required>
            
            <button type="submit" class="btn btn-success mt-4">Logar-se</button>
        </form>
    </di>
</div>