<div class="card mt-4">
    <div class="card-body">
        <h4>Categorias: </h4>
        <hr>
        {{#each categorias}}
            <a href="/categorias/{{slug}}"><h5>{{nome}}</h5></a>
        {{else}}
        {{/each}}
    </div>
</div>